node_modules
dist
.next
.turbo
.cache
*.log
.env
.env.local
.env.*.local
coverage
.prisma
packages/db/generated
apps/web/.next
apps/web/out
**/*.tsbuildinfo
.DS_Store
sdk-config-cache.json
infra/minio-data
infra/clickhouse-data
infra/postgres-data
uploads/nest_e2e_plan*.md
